/* Estilo do botão flutuante do WhatsApp */
.whatsapp-float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer; /* Definindo o ponteiro de clique */
    text-decoration: none; /* Remover sublinhado no link */
    z-index: 9999; /* Garantir que o botão fique acima de todos os outros elementos */
  }
  
  /* Remover qualquer borda indesejada ao redor do ícone */
  .whatsapp-float-button:focus {
    outline: none; /* Remove o contorno ao clicar no botão */
  }
  
  /* Remover o sublinhado no link do ícone */
  .whatsapp-float-button i {
    margin: 0;
  }
  
  /* Balão de mensagem (tooltip) */
  .whatsapp-tooltip {
    position: absolute;
    bottom: 60px; /* Espaço entre o botão e o balão */
    right: 0;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none; /* Impede que o balão atrapalhe o clique */
    transform: translateY(20px);
    animation: fadeInUp 0.3s forwards; /* Animação de aparecimento */
    max-width: 200px;
    min-width: 150px; /* Garantindo um tamanho mínimo para o balão */
    white-space: normal; /* Permite quebra de linha */
    text-align: center;
    word-wrap: break-word; /* Faz a quebra de palavras longas */
  }
  
  /* Animação de entrada */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .whatsapp-tooltip.hidden {
    animation: fadeOut 0.3s forwards; /* Animação de saída */
    opacity: 0;
    transform: translateY(-20px);
  }
  
  /* Animação de saída (será chamada quando o balão desaparecer) */
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  